<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crowdfunding.manager.dao.TPermissionMapper">



    <select id="queryPermission" resultType="tPermission">
      select * from t_permission;
    </select>

    <insert id="insert" parameterType="tPermission">
        INSERT INTO t_permission
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="pid!=null">
                ,pid
            </if>
            <if test="name!=null and name!=''">
                ,name
            </if>
            <if test="icon!=null and icon!=''">
                ,icon
            </if>
            <if test="url!=null and url!=''">
                ,url
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="pid!=null">
                ,#{pid}
            </if>
            <if test="name!=null and name!=''">
                ,#{name}
            </if>
            <if test="icon!=null and icon!=''">
                ,#{icon}
            </if>
            <if test="url!=null and url!=''">
                ,#{url}
            </if>
        </trim>
    </insert>

    <select id="queryPermissionById" parameterType="int" resultType="tPermission">

        SELECT id,pid,name,icon,url
        from t_permission
        where id=#{id}
    </select>


    <update id="updatePermission" parameterType="tPermission">
        update t_permission
        <set>
            <if test="id !=null">
                <trim prefixOverrides=",">
                    <if test="name!=null and name!=''">
                        ,name=#{name}
                    </if>
                    <if test="icon!=null and icon!=''">
                        ,icon=#{icon}
                    </if>
                    <if test="url!=null and url!=''">
                        ,url=#{url}
                    </if>
                </trim>
            </if>
        </set>
        <where>
            id=#{id}
        </where>

    </update>

    <delete id="deleteByPrimaryKey" parameterType="int">

        DELETE from t_permission where id=#{id}
    </delete>




</mapper>